@using DMB.Core
@using MudBlazor

<div class="el-wrap @Model.Class" style="@Model.Style" id="@Model.Id">
    <MudCheckBox T="bool"
                 Label="@Model.Label"
                 Color="@Model.Color"
                 Disabled="@Model.Disabled"
                 ReadOnly="@Model.ReadOnly"
                 Value="@Model.Checked"
                 ValueChanged="OnChanged" />
</div>

@code {
    [Parameter, EditorRequired]
    public CheckBoxModelCore Model { get; set; } = default!;

    private Task OnChanged(bool v)
    {
        if (!Model.ReadOnly)
            Model.Checked = v;

        return Task.CompletedTask;
    }
}