<div class="el-wrap @Model.Class" style="@Model.Style" id="@Model.Id">
    <MudDatePicker Label="@Model.Label"
                   Variant="@Model.Variant"
                   Color="@Model.Color"
                   Margin="@Model.Margin"
                   Disabled="@Model.Disabled"
                   Date="@((DateTime?)Model.Value)"
                   DateChanged="OnChanged" />
</div>

@code {
    [Parameter, EditorRequired]
    public DatePickerModelCore Model { get; set; } = default!;

    private Task OnChanged(DateTime? v)
    {
        Model.Value = v;
        return Task.CompletedTask;
    }
}