<div class="el-wrap @Model.Class" style="@Model.Style" id="@Model.Id">
    <MudDatePicker Label="@Model.Label"
                   Variant="@Model.Variant"
                   Color="@Model.Color"
                   Margin="@Model.Margin"
                   Disabled="@Model.Disabled"
                   @* Date="@((DateTime?)Model.Value)" *@
                   Date="@DateValue"
                   DateChanged="OnChanged" />
</div>

@code {
    [Parameter, EditorRequired]
    public DatePickerModelCore Model { get; set; } = default!;

    private Task OnChanged(DateTime? v)
    {
        Model.Value = v?.ToString(Model.DateFormat);
        return Task.CompletedTask;
    }

    private DateTime? DateValue
    {
        get
        {
            if (!string.IsNullOrWhiteSpace(Model.Value))
            {
                return DateTime.TryParseExact(Model.Value, Model.DateFormat, null, System.Globalization.DateTimeStyles.None, out var dt)
                    ? dt
                    : null;
            }
            return null;
        }
    }
}