@using DMB.Core
@using MudBlazor

<div class="@($"dmr-grid {Grid.Class}")"
     style="@Grid.Style"
     id="@Grid.Id">

    @for (int r = 0; r < Grid.Rows.Count; r++)
    {
        var row = Grid.Rows[r];

        <div class="@($"dmr-row {row.Class}")"
             style="@row.Style"
             id="@row.Id">

            <MudGrid Spacing="2">
                @for (int c = 0; c < row.Cells.Count; c++)
                {
                    var cell = row.Cells[c];

                    <MudItem xs="@NormalizeSpan(cell.ColSpan)" Class="dmr-item">
                        <CellRenderer Cell="cell" />
                    </MudItem>
                }
            </MudGrid>

        </div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public GridModelCore Grid { get; set; } = default!;

    private int NormalizeSpan(int span)
        => span <= 0 ? 12 : (span > 12 ? 12 : span);
}