@using DMB.Core.Evaluator
@inject ExpressionEvaluator Evaluator

<div class="el-wrap @Model.Class" style="@Model.Style" id="@Model.Id">
    <MudTextField T="string"
                  Label="@Model.Label"
                  Variant="@Model.Variant"
                  AdornmentColor="@Model.Color"
                  Margin="@Model.Margin"
                  Value="@((string?)Model.Value)"
                  ValueChanged="OnChanged"
                  DebounceInterval="@Model.DebounceInterval" />
</div>

@code {
    [Parameter, EditorRequired]
    public TextInputModelCore Model { get; set; } = default!;

    private Task OnChanged(string v)
    {
        Model.Value = v;
        this.Model.ModuleStateCore.RaiseStateChanged();
        return Task.CompletedTask;
    }
}