@using DMB.Core.Evaluator
@inject ExpressionEvaluator Evaluator

<div class="el-wrap @Model.Class?.Evaluate(this.Evaluator)"
     style="@Model.Style?.Evaluate(this.Evaluator)"
     id="@Model.Id">

    <MudText Typo="@Model.Typo"
             Align="@(ExpressionablePropertyResolver<Align>.Resolve(Model.TextAlign, Evaluator))"
             Color="@(ExpressionablePropertyResolver<Color>.Resolve(Model.Color, Evaluator))">
        @Model.Text?.Evaluate(this.Evaluator)
    </MudText>

</div>

@code {
    [Parameter, EditorRequired]
    public TextBlockModelCore Model { get; set; } = default!;
}
