@using DMB.Core.Evaluator
@inject ExpressionEvaluator Evaluator

<div class="el-wrap @Model.Class?.Evaluate(this.Evaluator)"
     style="@Model.Style?.Evaluate(this.Evaluator)"
     id="@Model.Id">

    <MudText Typo="@Model.Typo"
             Align="@TextAlgin"
             Color="@Model.Color">
        @Model.Text?.Evaluate(this.Evaluator)
    </MudText>

</div>

@code {
    [Parameter, EditorRequired]
    public TextBlockModelCore Model { get; set; } = default!;

    public Align TextAlgin
    {
        get
        {
            if (this.Model.TextAlign is null)
                return Align.Left; // Default value if TextAlign is not set

            if (this.Model.TextAlign.EnableExpression)
            {
                try
                {
                    var align =  Enum.Parse<Align>(this.Model.TextAlign.Expression.Evaluate(this.Evaluator).ToString()!);
                    return align;
                }
                catch (Exception ex)
                {
                    Console.WriteLine($"Error evaluating TextAlign expression: {ex.Message}");
                    return Align.Left; // Default value in case of error
                }
            }
            return this.Model.TextAlign.Value;
        }
    }
}