<div class="el-wrap @Model.Class"
     style="@Model.Style"
     id="@Model.Id">

    <MudText Typo="@Model.Typo"
             Align="@Model.TextAlign"
             Color="@Model.Color">
        @Model.Text
    </MudText>

</div>

@code {
    [Parameter, EditorRequired]
    public TextBlockModelCore Model { get; set; } = default!;
}