<div class="el-wrap @Model.Class" style="@Model.Style" id="@Model.Id">
    <MudTimePicker Label="@Model.Label"
                   Variant="@Model.Variant"
                   Color="@Model.Color"
                   Margin="@Model.Margin"
                   Disabled="@Model.Disabled"
                   Time="@Model.Value"
                   TimeChanged="OnChanged" />
</div>

@code {
    [Parameter, EditorRequired] public TimePickerModelCore Model { get; set; } = default!;

    private Task OnChanged(TimeSpan? v)
    {
        Model.Value = v;
        return Task.CompletedTask;
    }
}